.cart-item{
    margin-top: 4%;
    border: 2px solid #B49066;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 70%;
    box-shadow: 8px 8px 4px #B6B6B6;
}

.item-tile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: 35px;
    margin-block: 25px;
    width: 100%;
}



.item-img{
    border-radius: 10px;
    height: 250px;
    background-size: cover;
}

.item-title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(25px,4vw,40px);
} 

.item-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-price{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(15px,4vw,25px);
    /*color: #B49066;*/
}

.item-quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: "Orienta", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*color: #B49066;*/
    font-size: clamp(15px,4vw,20px);
}

.totalbill-container{
    background-color: white;
}

.bill-container{
    background-color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border: 2px solid #B49066;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 8%;
    width: 100%;
}

.grand-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    color: #B49066;
    width: 100%;
    padding-bottom: 20%;
}

.grand-button{
    width: 32%;
    background-color: #B49066;
    color: white;
    font-family: "Ovo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.coupon-button{
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #B49066;
    border-radius: 30px;
    color: white;
    width: 100%;
}

.coupon-title{
    font-size: 35px;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}

.coupon-code{
    font-size: 20px;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
    text-align: start;
}

.coupon-desc{
    font-size: 13px;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
    text-align: start;
}

.confirmed-background{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/orderbg4.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmed-container{
    /* background-color: white; */
    width: 500px;
    height: 340px;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmed-icon{
    width: 70px;
    padding-bottom: 3%;
}
.confirmed-text{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}
.confirmed-back{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    gap: 10px;
    width: auto;
}
.confirmed-continue{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.desc-modal{
    width: 200px;
}

.desc-container{
    display: flex;
    flex-direction: row;
    height: 478px;
    position: relative;
    align-items: center;
}
.desc-img-container{
    width: 700px;
    position: relative;
    text-align: center;
}
.desc-img{
    height: 478px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.desc-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: 'normal';
}
.desc-title{
    margin-top: 8%;
    font-size: 40px;
    width: 80%;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-desc{
    text-align: center;
    font-size: 18px;
    padding-inline: 10%;
    padding-bottom: 6%;
}
.desc-ml{
    background-color: white;
    color: black;
    padding-inline: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 18px;
    right: 16px;
    font-size: 16px;
}
.desc-price{
    font-weight: 600;
    font-size: 20px;
    padding-top: 4%;
}
.desc-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #85653F;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-block: 7px;
    padding-inline: 30px;
    border-radius: 15px;
    margin-top: 5%;
    font-size: 18px;
    gap: 20px;
    position: absolute;
    bottom: 10%;
}
.desc-cart{
    height: 30px;
}

@media(max-width: 500px){
    .item-img{
        height: 150px;
    } 
    .item-tile{
        margin-inline: 25px;
        margin-bottom: 10px;
        margin-top: 2px;
        padding-bottom: 4px;
    }
    .cart-item{
        width: 100%;
        margin-top: 10%;
    }
    .totalbill-container{
        width: 100%;
        height: 300px;
    }
    .item-delete{
        height: 20px; 
    }
    .confirmed-container{
        width: 300px;
        height: 340px;
    }
    .confirmed-back{
        margin-top: 30px;
    }
    .confirmed-icon{
        margin-bottom: 15px;
    }
    .desc-container{
        height: 300px;
    }
    .desc-img-container{
        width: 460px;
    }
    .desc-img{
        height: 300px;
    }
    .desc-ml{
        font-size: 12px;
        padding-inline: 14px;
    }
    .desc-title{
        font-size: 25px;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .desc-desc{
        font-size: 10.5px;
        padding-block: 4%;
    }
    .desc-price{
        font-size: 12px;
    }
    .desc-button{
        font-size: 12px;
        gap: 15px;
        padding-block: 0px;
        padding-inline: 18px;
        border-radius: 5px;
    }
}